{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="container shadow p-3 mb-5 bg-white rounded">
    <div class="container-fluid padding" id="welcome_container">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">Welkom bij Internationaal Weer Agentschap!</h1>
            </div>
            <hr>
            <div class="col-12">
                <p class="lead"> {{ app.user ? 'Wat kunnen we voor u betekenen?' : 'please login' }} 
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid padding" id="button_container">
        <div class="row text-center padding">
            <div class="">
                <i class="far fa-chart-bar"></i>

                {% if is_granted('ROLE_USER') %}
                    <a class="btn btn-primary btn-lg btn-dark" aria-current="page" href="/main/admin">Admin Dashboard</a>
                    <a class="btn btn-primary btn-lg btn-dark" aria-current="page" href="/data/search">Search</a>
                {% else %}
                <a class="btn btn-primary btn-lg btn-dark" aria-current="page" href="{{ app.user ? '/logout' : '/' }}">
                    {{ app.user ? 'Logout' : 'Login' }}
                </a>
                {% endif %}
                {# <a class="btn btn-primary btn-lg btn-dark" href="/main/locations" role="button">Station Locations</a> #}
{#                <a class="btn btn-primary btn-lg btn-dark" href="/data/search" role="button">Search Weatherstations</a>#}

            </div>
        </div>
    </div>

</div>


{% endblock %}