{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="container shadow p-3 mb-5 bg-white rounded">
    <div class="container-fluid padding" id="welcome_container">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">Welkom bij Internationaal Weer Agentschap!</h1>
            </div>
            <hr>
            <div class="col-12">
                <p class="lead">Wat kunnen we vandaag voor u betekenen?</p>
            </div>
        </div>
    </div>

    <div class="container-fluid padding" id="button_container">
        <div class="row text-center padding">
            <div class="">
                <i class="far fa-chart-bar"></i>
                <a class="btn btn-primary btn-lg btn-dark" href="/main/weather" role="button">Weatherdata</a>
                <a class="btn btn-primary btn-lg btn-dark" href="/main/locations" role="button">Station Locations</a>

            </div>
        </div>
    </div>

</div>


{% endblock %}