{% extends 'base.html.twig' %}

{% block title %}Edit
{% endblock %}

{% block body %}

    <table class="locations table table-striped table-bordered table-hover">
        <thead>
        <tr class="table-primary">
            <th scope="col">Email</th>
            <th scope="col">amount</th>
            <th scope="col">stations</th>
{#            <th scope="col">Station</th>#}
        </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ profile.email }}</th>
               <td>{{ profile.subscription.amount }}</td>
                    {% for station in stations %}
                <td> {{ station.station.name }} </td>
                        {% endfor %}
{#                <td>{{ info.Subscriptions.station }}</td>#}
            </tr>
        </tbody>
    </table>

{% endblock %}
