body {
    background-image: url("/Users/jchm/Project_weatherstationS/assets/images/cloud-2725520.jpg");
    background-color: lightgray;
}

#footer_container {
    padding: 1%;
    background-color: white;
}

#footer_img {
    max-width: 25%;
    height: auto;
}

#copyright {
    align-self: center;
}

#button_container {
    padding-top: 100px;
    padding-bottom: 100px;
}

#sign_in_button {
    margin-top: 20px;   
}

#password {
    margin-top: 20px;
}