body {
    background-image: url("/../images/clouds.jpg");
    background-color: lightgray;
}

#footer_container {
    padding: 1%;
    background-color: white;
}

#footer_img {
    max-width: 25%;
    height: auto;
}

#copyright {
    align-self: center;
}

#button_container {
    padding-top: 100px;
    padding-bottom: 100px;
}

#sign_in_button {
    margin-top: 20px;   
}

#password {
    margin-top: 20px;
}

/*#s_table {*/
/*    display: flex;*/
/*    flex-flow: column;*/
/*    width: 100%;*/
/*}*/

/*#s_thead {*/
/*    flex: 0 0 auto;*/
/*}*/

/*#s_tbody {*/
/*    flex: 1 1 auto;*/
/*    display: block;*/
/*    overflow-y: auto;*/
/*    overflow-x: hidden;*/
/*}*/

/*#s_tr {*/
/*    width: 100%;*/
/*    display: table;*/
/*    table-layout: fixed;*/
/*}*/